{% extends 'base.html' %}
{% load chart_tags %}
{% load tz %}
{% load account %}
{% load socialaccount %}


{% block content %}

    <div class="container">


        <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook Connect</a>
    <div class="row row-centered">
        <div class="col-xs-3 col-centered"><p>{{ user.name }}</p></div>

    </div>
    <div class="row row-centered">
        <p>{{ chart.name }}</p>
        <p>{{chart.datetime }}</p>
        <p>{{chart.city}}</p>

        {% if chart.time %}
            <div class="col-xs-3 col-centered"><p>{{ datetime }}</p></div>
        {% else %}
            <div class="col-xs-3 col-centered"><p>{{ chart.datetime.date }}</p></div>
        {% endif %}
    </div>

    <div class="row row-centered">

        <div class="col-xs-6 col-centered" >
            {% include 'charts/chart.svg' %}
        </div>


    </div>
</div>






    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th >Position</th>
                    <th>In Sign</th>
                    {% if houses %}
                    <th>In House</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for planet in planets %}
                    <tr>
                        <td>{{ planet.angle|mod30|dms }}</td>
                        <td>
                            <a href="{% url 'planet-in-sign' planet.planet.slug planet.sign.slug %}">{{ planet.planet.name }}
                                in {{ planet.sign }}</a> ({{ planet.angle|mod30|dms }})</td>
                        {% if houses %}
                        <td>
                            <a href="{% url 'planet-in-house' planet.planet.slug planet.house.house.slug %}">{{ planet.planet.name }}
                                in {{ planet.house.house }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th data-sortable="true">Aspect</th>
                    <th data-sortable="true">Orb</th>
                </tr>
                </thead>
                <tbody>
                {% for aspect in aspects %}
                    <tr>
                        <td>
                            <a href="{% url 'aspect' aspect.p1.planet.slug aspect.aspect.type aspect.p2.planet.slug %}">{{ aspect.aspect }}</a>
                        </td>
                        <td>{{ aspect.diff|dms }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>




{% endblock %}


{% block scripts %}
<script>
function go_to_date(){
date = $('#datepicker').val();
time = $('#timepicker').val();
window.location.href ='/chart/date/'+date+'/'+time+'/';

}
    $('#datepicker').datepicker({
        format: "yyyy-mm-dd",
        startView: 2,
        todayBtn: "linked",
        language: "pt-BR",
        autoclose: true,
        todayHighlight: true,
        defaultViewDate: { year: 1986, month: 12, day: 22 }
    });


</script>
{% endblock %}