{% extends 'base.html' %}
{% load chart_tags %}
{% load tz %}


{% block content %}
    <div class="container">
    <div class="row row-centered">
        <div class="col-xs-3 col-centered"><p>{{ user.name }}</p></div>

    </div>
    <div class="row row-centered">
        

    <div class="col-xs-3 col-centered"><p>The UTC time is  {{ datetime }} {{ datetime.tzinfo }}</p></div>
    {% localtime on %}
    <div class="col-xs-3 col-centered"><p>The local time is {{ datetime }} {{ datetime.tzinfo }}</p></div>
    {% endlocaltime %}
        <div class="col-xs-3 col-centered"><p>{{ datetime }} {{ datetime.tzinfo }}</p></div>
        {% if chart.time %}
            <div class="col-xs-3 col-centered"><p>{{ chart.datetime }} {{ chart.datetime.tzinfo }}</p></div>
        {% else %}
            <div class="col-xs-3 col-centered"><p>{{ chart.datetime.date }}</p></div>
        {% endif %}
    </div>

    <div class="row row-centered">

        <div class="col-xs-6 col-centered" >
            {% include 'charts/chart.svg' %}
        </div>
    </div>
</div>






    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th >Position</th>
                    <th>In Sign</th>
                    {% if houses %}
                    <th>In House</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for planet in planets %}
                    <tr>
                        <td>{{ planet.angle|dms }}</td>
                        <td>
                            <a href="{% url 'planet-in-sign' planet.planet.slug planet.sign.slug %}">{{ planet.planet.name }}
                                in {{ planet.sign }}</a></td>
                        {% if houses %}
                        <td>
                            <a href="{% url 'planet-in-house' planet.planet.slug planet.house.house.slug %}">{{ planet.planet.name }}
                                in {{ planet.house.house }}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th data-sortable="true">Aspect</th>
                    <th data-sortable="true">Orb</th>
                </tr>
                </thead>
                <tbody>
                {% for aspect in aspects %}
                    <tr>
                        <td>
                            <a href="{% url 'aspect' aspect.p1.planet.slug aspect.aspect.type aspect.p2.planet.slug %}">{{ aspect.aspect }}</a>
                        </td>
                        <td>{{ aspect.diff|dms }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>




{% endblock %}
